<!-- Sidebar -->
    <div class="sidebar">
        <div>
            <div class="nav-section">
                <a href="{% url 'home' %}" class="nav-item"><i class="fas fa-home"></i> Dashboard</a>
                <a href="{% url 'dashboard' %}" class="nav-item"><i class="fas fa-shopping-cart"></i> Expenses</a>
                <a href="#" class="nav-item"><i class="fas fa-wallet"></i> Incomes</a>
            </div>

            <div class="nav-section">
                <h4>SUMMARY</h4>
                <a href="#" class="nav-item"><i class="fas fa-file-alt"></i> Expense Summary</a>
                <a href="#" class="nav-item"><i class="fas fa-file-invoice-dollar"></i> Income Summary</a>
            </div>

            <div class="nav-section">
                <h4>SETTINGS</h4>
                <a href="#" class="nav-item"><i class="fas fa-cog"></i> General</a>
                <a href="#" class="nav-item"><i class="fas fa-user"></i> Account</a>
                <a href="#" class="nav-item"><i class="fas fa-sign-out-alt"></i> Sign out</a>
            </div>
        </div>
    </div>